<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
		integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.css">


	<title>Главная страница</title>
</head>

<body>


	<header class="bg-light border-bottom">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="navbar navbar-expand-lg navbar-light px-0">
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
							aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse  text-center" id="navbarTogglerDemo01">

							<ul class="navbar-nav">
								<li class="nav-item active">
									<a class="nav-link" href="#">Главная</a>
								</li>
								<!-- <li class="nav-item">
									<a class="nav-link" href="#">О нас</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">Контакты</a>
								</li> -->
							</ul>

							<ul class="navbar-nav ml-auto mr-lg-4">
								<li class="nav-item">
									<a class="nav-link" href="#">Войти</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">Регистрация</a>
								</li>
							</ul>

							<form method="get" class="form-inline my-2 my-lg-0">
								<div class="input-group input-group-search  mx-auto">
									<input type="text" name="s" class="form-control" placeholder="Поиск" required>
									<div class="input-group-append">
										<button class="input-group-text"><i class="fa fa-search"></i></button>
									</div>
								</div>
							</form>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</header>

	<main class="container main py-4">
		<div class="row">
			<div class="col-lg-8 col-xl-9 content">
				<section class="card border-0 mb-4">
					<a href="#" class="post-bg-image rounded-top"
						style="background-image: url(https://picsum.photos/300/150);"></a>
					<div class="card-body border border-top-0  rounded-bottom">
						<h2><a href="#" class="post-link">Card title</a></h2>
						<p class="card-text">
							Some quick example text to build on the card title and make up the bulk of the card's
							content.
							Some quick example text to build on the card title and make up the bulk of the card's
							content.
							Some quick example text to build on the card title and make up the bulk of the card's
							content.
							Some quick example text to build on the card title and make up the bulk of the card's
							content.
							Some quick example text to build on the card title and make up the bulk of the card's
							content.
							Some quick example text to build on the card title and make up the bulk of the card's
							content.
							Some quick example text to build on the card title and make up the bulk of the card's
							content.
							Some quick example text to build on the card title and make up the bulk of the card's
							content.
							Some quick example text to build on the card title and make up the bulk of the card's
							content.
							Some quick example text to build on the card title and make up the bulk of the card's
							content.
							Some quick example text to build on the card title and make up the bulk of the card's
							content.
							Some quick example text to build on the card title and make up the bulk of the card's
							content.
						</p>
						<div class="d-flex justify-content-between">
							<div class="d-flex">
								<div class="post-view color-gray fz-small mr-3">
									10 <i class="fa fa-comment"></i>
								</div>
								<div class="post-view color-gray fz-small">
									10 <i class="fa fa-eye"></i>
								</div>
							</div>
							<small class="d-flex align-items-center">
								<span class="m-0 mr-2 font-weight-bold">Категории:</span>
								<span>
									<a href="#" class="text-dark">Игры</a>
									<a href="#" class="text-dark">Спорт</a>
									<a href="#" class="text-dark">Программирования</a>
								</span>
							</small>
						</div>
					</div>
				</section>

				<section class="card border-0 mb-4">
					<div class="card-body border rounded-bottom">
						<h2 class="mb-4">Комментарии</h2>
						<div class="card h-100  mb-3">
							<div class="card-body">
								<h6 class="mb-2">
									<small class="text-muted">Автор:</small>
									Жамал Х.
								</h6>
								<div class="card-text small mb-3">
									This is a longer card with supporting text below as a natural lead-in to additional content.
									This content is a little bit longer.
								</div>
								<small>
									<span class="text-muted">Время:</span>
									23.07.2021 22:35
								</small>
							</div>
						</div>
						<div class="card h-100  mb-3">
							<div class="card-body">
								<h6 class="mb-2">
									<small class="text-muted">Автор:</small>
									Жамал Х.
								</h6>
								<div class="card-text small mb-3">
									This is a longer card with supporting text below as a natural lead-in to additional content.
									This content is a little bit longer.
								</div>
								<small>
									<span class="text-muted">Время:</span>
									23.07.2021 22:35
								</small>
							</div>
						</div>
					</div>
				</section>

				<section class="card border-0 mb-4">
					<div class="card-body border rounded-bottom">
						<h2 class="mb-4">Добавить комментарий</h2>
						<div class="card h-100  mb-3">
							<div class="card-body">
								<form method="POST">
									<!-- <div class="mb-3">
										<label class="form-label">Ваше имя (*)</label>
										<input type="text" class="form-control" placeholder="Иван">
									</div> -->
									<div class="mb-3">
										<label class="form-label">Ваш комментарий</label>
										<textarea class="form-control" rows="4" placeholder="Пост классный, мне нравится...!"></textarea>
									</div>
									<div class="mb-3">
										<button class="btn  btn-light">Отправить</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</section>
			</div>

			<sidebar class="col-lg-4 col-xl-3 sidebar">
				<div class="sidebar-widget mb-5">
					<h5 class="text-center mb-3">Категории</h5>
					<ul class="list-group">
						<li class="list-group-item p-0 overflow-hidden">
							<a href="#" class="btn btn-outline-dark d-flex align-items-center border-0 rounded-0 text-left">
								<span>Item 2</span>
								<span class="color-gray fz-extra-small pl-1 ml-auto d-flex align-items-center"
									title="Всего статей">(76)</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="sidebar-widget mb-5">
					<h5 class="text-center mb-3">Последние записи</h5>
					<ul class="list-group">
						<li class="list-group-item p-0 overflow-hidden">
							<a href="#" class="btn btn-outline-dark d-flex align-items-center border-0 rounded-0 text-left">
								<span>Item 2</span>
								<span class="color-gray fz-extra-small pl-1 ml-auto d-flex align-items-center"
									title="Количество просмотров">76 <i class="fa fa-eye ml-1"></i></span>
							</a>
						</li>
						<li class="list-group-item p-0 overflow-hidden">
							<a href="#" class="btn btn-outline-dark d-flex align-items-center border-0 rounded-0 text-left">
								<span>Item 2</span>
								<span class="color-gray fz-extra-small pl-1 ml-auto d-flex align-items-center"
									title="Количество просмотров">76 <i class="fa fa-eye ml-1"></i></span>
							</a>
						</li>
						<li class="list-group-item p-0 overflow-hidden">
							<a href="#" class="btn btn-outline-dark d-flex align-items-center border-0 rounded-0 text-left">
								<span>Item 2</span>
								<span class="color-gray fz-extra-small pl-1 ml-auto d-flex align-items-center"
									title="Количество просмотров">76 <i class="fa fa-eye ml-1"></i></span>
							</a>
						</li>
					</ul>
				</div>
				<div class="sidebar-widget mb-5">
					<h5 class="text-center mb-3">Популярное</h5>
					<ul class="list-group">
						<li class="list-group-item p-0 overflow-hidden">
							<a href="#" class="btn btn-outline-dark d-flex align-items-center border-0 rounded-0 text-left">
								<span>Item 2</span>
								<span class="color-gray fz-extra-small pl-1 ml-auto d-flex align-items-center"
									title="Количество просмотров">76 <i class="fa fa-eye ml-1"></i></span>
							</a>
						</li>
						<li class="list-group-item p-0 overflow-hidden">
							<a href="#" class="btn btn-outline-dark d-flex align-items-center border-0 rounded-0 text-left">
								<span>Item 2</span>
								<span class="color-gray fz-extra-small pl-1 ml-auto d-flex align-items-center"
									title="Количество просмотров">76 <i class="fa fa-eye ml-1"></i></span>
							</a>
						</li>
						<li class="list-group-item p-0 overflow-hidden">
							<a href="#" class="btn btn-outline-dark d-flex align-items-center border-0 rounded-0 text-left">
								<span>Item 2</span>
								<span class="color-gray fz-extra-small pl-1 ml-auto d-flex align-items-center"
									title="Количество просмотров">76 <i class="fa fa-eye ml-1"></i></span>
							</a>
						</li>
					</ul>
				</div>
			</sidebar>
		</div>
	</main>

	<footer class="footer-copy py-1 bg-dark  text-white">
		<div class="container">
			<div class="row">
				<div class="col fz-small text-center">
					© 2012 Все права защищены.
				</div>
			</div>
		</div>
	</footer>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>