<div class="sidebar-widget mb-5">
  <h5 class="text-center mb-3">Категории</h5>
  <ul class="list-group">
    {{#each categories.list}}
      {{#if postsCount}}
    
        <li class="list-group-item p-0 overflow-hidden">
          <a
            href="{{ ../categories.root }}{{ slug }}"
            class="btn btn-outline-dark d-flex align-items-center border-0 rounded-0 text-left {{#if active}} active {{/if}}"
          >
            <span>{{ title }}</span>
            <span class="color-gray fz-extra-small pl-1 ml-auto d-flex align-items-center"
              title="Всего статей">({{ postsCount }})</span>
          </a>
        </li>
      {{/if}}
    {{/each}}
  </ul>
</div>