<section class="card border-0 mb-4">
  <div class="card-body border rounded-bottom">
    <h2 class="mb-4">Добавить комментарий</h2>
    <div class="card h-100  mb-3">
      <div class="card-body">
        <form method="POST">
          <div class="mb-3">
            <label class="form-label">Ваш комментарий</label>
            {{#if errors.text }}
              <textarea name="text" class="form-control is-invalid" rows="4">{{ fields.text }}</textarea>
              <div class="invalid-feedback">{{ errors.text }}</div>
            {{else}}
              <textarea name="text" class="form-control" rows="4">{{ fields.text }}</textarea>
            {{/if}}
          </div>
          <div class="mb-3">
            <button class="btn  btn-light">Отправить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>