<section class="card border-0 mb-4">
  <div class="card-body border rounded-bottom">
    <h2 class="mb-4">Комментарии</h2>
    <div class="card h-100  mb-3">
      <div class="card-body">
        <h6 class="mb-2">
          <small class="text-muted">Автор:</small>
          Жамал Х.
        </h6>
        <div class="card-text small mb-3">
          This is a longer card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.
        </div>
        <small>
          <span class="text-muted">Время:</span>
          23.07.2021 22:35
        </small>
      </div>
    </div>
    <div class="card h-100  mb-3">
      <div class="card-body">
        <h6 class="mb-2">
          <small class="text-muted">Автор:</small>
          Жамал Х.
        </h6>
        <div class="card-text small mb-3">
          This is a longer card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.
        </div>
        <small>
          <span class="text-muted">Время:</span>
          23.07.2021 22:35
        </small>
      </div>
    </div>
  </div>
</section>