<nav>
  <ul class="pagination pagination-sm justify-content-center">
    {{#each pagination.pages}}
      <li class="page-item {{#if active}} active {{/if}}">
        <a class="page-link" href="{{ url }}">{{ page }}</a>
      </li>
    {{/each}}
  </ul>
</nav>