<nav>
  <ul class="pagination pagination-sm justify-content-center">
    <li class="page-item"><a class="page-link" href="#"><span aria-hidden="true">&laquo;</span> Предыдущая</a>
    </li>
    <li class="page-item active"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Следущая <span aria-hidden="true">&raquo;</span></a>
    </li>
  </ul>
</nav>