<div class="sidebar-widget mb-5">
  <h5 class="text-center mb-3">Популярное</h5>
  <ul class="list-group">
    <li class="list-group-item p-0 overflow-hidden">
      <a href="#" class="btn btn-outline-dark d-flex align-items-center border-0 rounded-0 text-left">
        <span>Item 2</span>
        <span class="color-gray fz-extra-small pl-1 ml-auto d-flex align-items-center"
          title="Количество просмотров">76 <i class="fa fa-eye ml-1"></i></span>
      </a>
    </li>
    <li class="list-group-item p-0 overflow-hidden">
      <a href="#" class="btn btn-outline-dark d-flex align-items-center border-0 rounded-0 text-left">
        <span>Item 2</span>
        <span class="color-gray fz-extra-small pl-1 ml-auto d-flex align-items-center"
          title="Количество просмотров">76 <i class="fa fa-eye ml-1"></i></span>
      </a>
    </li>
    <li class="list-group-item p-0 overflow-hidden">
      <a href="#" class="btn btn-outline-dark d-flex align-items-center border-0 rounded-0 text-left">
        <span>Item 2</span>
        <span class="color-gray fz-extra-small pl-1 ml-auto d-flex align-items-center"
          title="Количество просмотров">76 <i class="fa fa-eye ml-1"></i></span>
      </a>
    </li>
  </ul>
</div>