<form method="get" class="form-inline my-2 my-lg-0" action="/search">
  <div class="input-group input-group-search  mx-auto">
    <input type="text" name="s" class="form-control" placeholder="Поиск" required value="{{search}}">
    <div class="input-group-append">
      <button class="input-group-text"><i class="fa fa-search"></i></button>
    </div>
  </div>
</form>