{{>head }}

{{>header-profile }}

<main class="container main py-4">
  <div class="row">
    <div class="col-lg-8 col-xl-9 content">
      {{{ body }}}
    </div>

    {{> sidebar }}
  </div>
</main>

{{> footer }}