<section class="card border-0 mb-4">
  <a href="single.html" class="post-bg-image rounded-top"
    style="background-image: url(https://picsum.photos/300/150);"></a>
  <div class="card-body border border-top-0  rounded-bottom">
    <h2><a href="single.html" class="post-link">Card title</a></h2>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
      content.</p>
    <small class="d-flex align-items-center  mb-2">
      <span class="m-0 mr-2 font-weight-bold">Категория:</span>
      <span>
        <a href="#" class="text-dark">Программирования</a>
      </span>
    </small>
    <div class="d-flex justify-content-between">
      <div class="d-flex">
        <div class="post-view color-gray fz-small mr-3">
          10 <i class="fa fa-comment"></i>
        </div>
        <div class="post-view color-gray fz-small">
          10 <i class="fa fa-eye"></i>
        </div>
      </div>
      <a href="single.html" class="btn-link">Читать полностью</a>
    </div>
  </div>
</section>