<section class="card border-0 mb-4">
  <div class="card-body border  rounded-bottom">
    <h2 class="mb-4">Профиль</h2>

    <div class="card h-100  mb-3">
      <div class="card-body">
        <form method="POST">
          <div class="mb-3">
            <label class="form-label">Ваше имя</label>
            <input type="text" class="form-control">
          </div>
          <div class="mb-3">
            <button class="btn  btn-dark">Изменить имя</button>
          </div>
        </form>
      </div>
    </div>

    <div class="card h-100  mb-3">
      <div class="card-body">
        <form method="POST">
          <div class="mb-3">
            <label class="form-label">Старый пароль</label>
            <input type="password" class="form-control">
          </div>
          <div class="mb-3">
            <label class="form-label">Новый пароль</label>
            <input type="password" class="form-control">
          </div>
          <div class="mb-3">
            <label class="form-label">Повторить пароль</label>
            <input type="password" class="form-control">
          </div>
          <div class="mb-3">
            <button class="btn  btn-dark">Сохранить пароль</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>