<section class="card border-0 mb-4">
  <div class="card-body border  rounded-bottom">
    <h2 class="mb-4">Регистрация</h2>
    <form method="POST">
      <div class="mb-3">
        <label class="form-label">Имя</label>
        <input type="text" class="form-control">
      </div>
      <div class="mb-3">
        <label class="form-label">Логин</label>
        <input type="text" class="form-control">
      </div>
      <div class="mb-3">
        <label class="form-label">Пароль</label>
        <input type="password" class="form-control">
      </div>
      <div class="mb-3">
        <label class="form-label">Повторите пароль</label>
        <input type="password" class="form-control">
      </div>
      <div class="mb-3">
        Есть аккаунт? <a href="login.html">Войти</a>
      </div>
      <div class="mb-3">
        <button class="btn  btn-light">Зарегистрироваться</button>
      </div>
    </form>
  </div>
</section>