<div class="text-center  mb-4">
  <h2 class="mb-1">Поиск по сайту</h2>
  <small>
    Ключевое слово: <b>{{search}}</b>, Результатов: <b>{{count}}</b>
  </small>
</div>

{{#each posts}}
  {{> post-item }}
{{/each}}

{{> pagination }}