body {
	min-height: 100vh;

	display: flex;
	flex-direction: column;
}

.footer-copy {
	margin-top: auto;
}

.post-bg-image {
	display: block;
	background: center center no-repeat;
	background-size: cover;

	transition: 0.2s;
}
.post-bg-image:after {
	content: "";
	display: block;
	padding-top: 60%;
}
.post-bg-image:hover {
	opacity: .9;
}
.post-link {
	color: #000;
}
.post-link:hover {
	text-decoration: none;
	color: #000;
}
.no-decoration:hover {
	text-decoration: none;
}
.color-gray {
	color: #999;
}
.fz-small {
	font-size: .8rem;
}
.fz-extra-small {
	font-size: .7rem;
}
.post-view i {
	margin-left: 3px;
}

.sidebar-cat-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.sidebar-cat-item:hover {
	text-decoration: none;
	color: #fff;
	background-color: #333;
}

.p-404-code {
	font-size: 100px;
	line-height: 1;
}

.select2 {
	width: 100%;
	border-radius: 4px;
}
.select2:focus,
.select2 input:focus {
	outline: 0 !important;
}

.select2-selection__rendered {
	line-height: 38px !important;
}
.select2-container .select2-selection--single {
	height: 38px !important;
}
.select2-selection__arrow {
	height: 38px !important;
}
.select2-container--default .select2-selection--single {
	border-color: #CED4DA !important;
}
.select2-container--default .select2-selection--single .select2-selection__clear {
	height: 34px !important;
	opacity: 0.5;
}

.select2.is-invalid + .select2-container {
	border: 1px solid #DC3545 !important;
}

.select2.is-invalid ~ .invalid-feedback {
	display: block;
}


/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 575.98px) {

}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 767.98px) {
	.p-404-code {
		font-size: 150px;
	}
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 991.98px) {
	.input-group-search {
		min-width: 290px;
	}
	.p-404-code {
		font-size: 200px;
	}
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 1199.98px) {
	.input-group-search {
		min-width: 255px;
	}
}